<section class="first-content" id="home">
    <div class="first-content-apresentation">
      <h1 class="apresentation-title">
        Olá, eu sou o
        <br />
        Henrique :)
      </h1>
  
      <p class="apresentation-paragraph">Desenvolvedor Full-Stack</p>
  
      <div class="apresentation-buttons">
        <button class="apresentation-button-cv">Download CV</button>
        <button class="apresentation-button-contact">
          <span>
              Entrar em contato
          </span>
      </button>
      </div>
    </div>
  
    <img src="./../../assets/img/home-image.svg" class="first-content-image first-content-image-animation" />
  </section>