<section class="services" id="services">
    <h2 class="services-title">Serviços</h2>
  
    <div class="services-cards">
      <div class="services-card">
        <img
          src="./../../assets/icons/code.svg"
          alt=""
          class="services-card-image"
        />
        <p class="services-card-text">
          Criação
          <br />
          de sites
        </p>
      </div>
  
      <div class="services-card">
        <img
          src="./../../assets/icons/figma.svg"
          alt=""
          class="services-card-image"
        />
        <p class="services-card-text">
          UI
          <br />
          Designer
        </p>
      </div>
  
      <div class="services-card">
        <img
          src="./../../assets/icons/smartphone.svg"
          alt=""
          class="services-card-image"
        />
        <p class="services-card-text">
          Sites
          <br />
          responsivos
        </p>
      </div>
    </div>
  </section>