<section class="projects" id="projects">
    <h2 class="projects-title">Projetos</h2>
  
    <div class="projects-cards">
      <div class="card">
        <span>
        <img
          src="./../../assets/img/project.webp"
          class="card-img-top projects-card-image"
          alt="..."
        />
        <div class="card-body">
          <h4 class="project-card-title">Título do projeto</h4>
          <p class="card-text">Tecnologias: HTML, CSS e JS.</p>
        </div>
        </span>
      </div>
  
      <div class="card">
        <span>
        <img
          src="./../../assets/img/project.webp"
          class="card-img-top projects-card-image"
          alt="..."
        />
        <div class="card-body">
          <h4 class="project-card-title">Título do projeto</h4>
          <p class="card-text">Tecnologias: HTML, CSS e JS.</p>
        </div>
        </span>
      </div>
  
      <div class="card">
        <span>
        <img
          src="./../../assets/img/project.webp"
          class="card-img-top projects-card-image"
          alt="..."
        />
        <div class="card-body">
          <h4 class="project-card-title">Título do projeto</h4>
          <p class="card-text">Tecnologias: HTML, CSS e JS.</p>
        </div>
        </span>
      </div>
  
      <div class="card">
        <span>
        <img
          src="./../../assets/img/project.webp"
          class="card-img-top projects-card-image"
          alt="..."
        />
        <div class="card-body">
          <h4 class="project-card-title">Título do projeto</h4>
          <p class="card-text">Tecnologias: HTML, CSS e JS.</p>
        </div>
        </span>
      </div>
  
      <div class="card">
        <span>
        <img
          src="./../../assets/img/project.webp"
          class="card-img-top projects-card-image"
          alt="..."
        />
        <div class="card-body">
          <h4 class="project-card-title">Título do projeto</h4>
          <p class="card-text">Tecnologias: HTML, CSS e JS.</p>
        </div>
        </span>
      </div>
  
      <div class="card">
        <span>
        <img
          src="./../../assets/img/project.webp"
          class="card-img-top projects-card-image"
          alt="..."
        />
        <div class="card-body">
          <h4 class="project-card-title">Título do projeto</h4>
          <p class="card-text">Tecnologias: HTML, CSS e JS.</p>
        </div>
        </span>
      </div>
    </div>
  </section>