<section class="about" id="about">
    <h2 class="about-title">Sobre mim</h2>
    <p class="about-paragraph">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
      non proident
    </p>
  
    <div class="about-links">
      <div class="about-link">
        <div class="circle">
          <img src="./../../assets/icons/smile.svg" class="about-link-image about-link-image-animation" />
        </div>
        <h4 class="cicle-title">Meu Nome</h4>
        <p class="circle-paragraph">Henrique Fernandez</p>
      </div>
  
      <div class="about-link">
        <div class="circle">
          <img src="./../../assets/icons/mail.svg" class="about-link-image about-link-image-animation" />
        </div>
        <h4 class="cicle-title">E-mail</h4>
        <p class="circle-paragraph">my@email.com</p>
      </div>
  
      <div class="about-link">
        <div class="circle">
          <img
            src="./../../assets/icons/instagram.svg"
            class="about-link-image about-link-image-animation"
          />
        </div>
        <h4 class="cicle-title">Instagram</h4>
        <p class="circle-paragraph">@coding.rick</p>
      </div>
  
      <div class="about-link">
        <div class="circle">
          <img src="./../../assets/icons/phone.svg" class="about-link-image about-link-image-animation" />
        </div>
        <h4 class="cicle-title">Telefone</h4>
        <p class="circle-paragraph">(11) 99999-9999</p>
      </div>
    </div>
  </section>