<section class="skills" id="skills">
    <h2 class="skills-title">Minhas Skills</h2>
  
    <div class="skills-cards">
      <div class="skill-card">
        <img
          src="./../../assets/icons/icomoon-free_html-five.svg"
          alt=""
          class="skill-card-image"
        />
      </div>
  
      <div class="skill-card">
        <img
          src="./../../assets/icons/fontisto_css3.svg"
          alt=""
          class="skill-card-image"
        />
      </div>
  
      <div class="skill-card">
        <img
          src="./../../assets/icons/akar-icons_javascript-fill.svg"
          alt=""
          class="skill-card-image"
        />
      </div>
  
      <div class="skill-card">
        <img
          src="./../../assets/icons/akar-icons_react-fill.svg"
          alt=""
          class="skill-card-image"
        />
      </div>
  
      <div class="skill-card">
        <img
          src="./../../assets/icons/logos_nextjs.svg"
          alt=""
          class="skill-card-image"
        />
      </div>
      <div class="skill-card">
        <img
          src="./../../assets/icons/file-icons_tailwind.svg"
          alt=""
          class="skill-card-image"
        />
      </div>
    </div>
  </section>